:root {
  --color-background: #f8fafc;
  --color-nav: #233745;
  --color-body: #12202b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  justify-content: space-between;
  background-color: var(--color-background);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-nav);
}

.nav-titles {
  display: flex;
  align-items: end;
  gap: 1rem;
  color: var(--color-background); 
}

.nav-titles h4 {
  padding-bottom: 0.25rem;;
}

.nav-logos {
  display: flex;
  gap: 1.25rem;
  padding-right: 1rem;
  font-size: 1.25rem; 
  margin-left: auto;
  align-items: center;
  color: var(--color-background); 
}

.footer {
  background-color: var(--color-nav);
}

.body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
}

.sidebar {
  flex: 1;
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--color-body);
}

.table {
  display: flex;
  flex-direction: column;
  flex: 30;
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--color-body);
  padding: 1rem; /* Add padding for a cleaner look */
  justify-content: space-between; /* Ensure the content is spaced evenly */
}

.tabNav {
  flex: 1;
  padding: 0.5rem;
  border-radius: 100rem;
}

h1 {
  color: white;
}