* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  justify-content: space-between;
  background-color: pink;
}

.body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  justify-content: space-between;
}

.sidebar {
  flex: 1;
}

.table {
  flex: 30;
}
